.post__details {
  background-color: #fff;
  padding: 15px;
  margin-top: 15px;
}

.post__details-header {
  margin: 0;
  color: tomato;
}
.post__details-textarea {
  height: 50px;
  border-radius: 5px;
  border: 1px dashed tomato;
  width: 100%;
}

.post__details-button {
  border: none;
  border-radius: 5px;
  background-color: tomato;
  color: #ffffff;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.post__details-button:hover {
  background-color: #e7330b;
}

.post__details-list {
  list-style-type: none;
  padding: 0;
}

.post__details-item {
  padding: 7px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.post__details-item:nth-child(odd) {
  background-color: #d3d3d3;
}
.post__details-item:nth-child(even) {
  border: 1px solid #ccc;
}
