.blog__item {
  display: flex;
  flex-direction: column;
  flex: 1 200px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -1px rgba(0, 0, 0, 0.33);
  margin: 15px;
  transition: all 0.25s ease;
  align-items: center;
}

.blog__item:hover {
  box-shadow: 0px 15px 25px -15px rgba(0, 0, 0, 0.33);
}

.blog__item-header {
  margin: 0;
  color: tomato;
  font-size: 24px;
  line-height: 1;
}

.blog__button {
  border: none;
  padding: 10px;
  background-color: #2f9a63;
  color: #ffffff;
  border-radius: 3px;
  max-width: 100%;
  width: 180px;
  cursor: pointer;
  transition: all 0.25s ease;
  text-decoration: none;
  margin: 5px;
}
.blog__item-content {
  align-self: flex-start;
}

.blog__button-del {
  background-color: tomato;
}

.blog__button.blog__button-del:hover {
  background-color: #e7330b;
}

.blog__button:hover {
  background-color: #1b8b42;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: auto;
}
